<form id="app-currency-edit" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
  <div class="form-panel">
    <div class="form-first-row">
      <div class="field-group-id" *ngIf="currency.rowId>0">
        <label for="Id">Id</label>
        <input type="text" id="rowId" [(ngModel)]="currency.rowId" name="rowId" readonly=true #codeCtrl="ngModel">
      </div>
      <div class="field-group-code">
        <label for="code">Code</label>
        <input type="text" id="code" [(ngModel)]="currency.code" name="code" #codeCtrl="ngModel" required>
      </div>
      <div class="field-group-name">
        <label for="abreviation">Name</label>
        <input type="text" id="abbreviation" [(ngModel)]="currency.abbreviation" name="abbreviation" #abbreviationCtrl="ngModel"
          required>
      </div>
    </div>
    <div class="field-group-description">
      <label for="description">Description</label>
      <input type="text" id="description" [(ngModel)]="currency.description" name="description" #descriptionCtrl="ngModel">
    </div>
    <div>
      <div class="currency-edit-toolbar">
        <button class="save-button" type="submit"><i></i>Save</button>
        <button class="cancel-button" type="button" (click)="onCancel()"><i></i>Cancel</button>
      </div>
    </div>
  </div>
</form>