<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'>
      {{title}}
    </h3>
  </div>
  <div>
    <p> 
    <button class="btn btn-sm btn-default" (click)="onAdd($event)">Add</button>
    </p>
  </div>
  <table class='table table-responsive'>
    <thead>
      <tr>
        <th>Currency</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let currency of currencies'>
        <td>{{currency.code}}</td>
        <td>{{currency.description}}</td>
      </tr>
    </tbody>
  </table>

</div>