<div id="app-currency-list">

  <h5 class="currency-list-title">
    {{title}}
  </h5>
  <div class="currency-list-content">

    <div class="currency-list-toolbar">
      <button (click)="onAdd()" *ngIf="!isEdit">
        <i></i>Add
    </button>
    </div>

    <div currency-list-message>
      <span *ngIf="errorMessage!=''">
        {{errorMessage}}
      </span>
    </div>


    <app-currency-edit *ngIf="isEdit" (cancel)="onCancel($event)" (save)="onSave($event)" [currency]=currency>
    </app-currency-edit>

    <table>
      <thead>
        <tr>
          <th>Currency</th>
          <th>Name</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let currency of currencies'>
          <td>{{currency.code}}</td>
          <td>{{currency.abbreviation}}</td>
          <td>{{currency.description}}</td>
          <td>
            <div>
              <button class="edit-button" (click)="onEdit($event, currency.rowId)">
                <i></i>
                <span aria-label="Edit"></span>
              </button>
              <button class="delete-button" (click)="onDelete($event, currency.rowId)">
                  <i></i>
                  <span aria-label="Delete"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>